* {
	margin: 0;
	padding: 0;
}

body {

    font-family: 'Varela Round', sans-serif;
	background: linear-gradient(110deg, snow 60%, #7f00ff 50%);
}

.main {
	text-align: center;
	margin-top: 10%;
}

.title2 { 
	font-family: 'Montserrat', serif;
}

/* Button */

.btn {
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #121212;
    background: rgb(219, 215, 215);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn:active {
    color: snow
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(241, 236, 236);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Footer */

footer {
	position: absolute;
	background-color: rgba(100, 100, 100, 0.336);
	width: 100%;
	color: snow;
	bottom: 0;
	height: 7vh;
	border-radius: 15px;
}

.info {
	margin-top: 15px;
	margin-left: 15px;
}

/* Social */

.btndis {
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: snow;
    background: #5865F2;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btndis:before {
    content: '';
    background: linear-gradient(45deg, #5865F2, #7f00ff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btndis:active {
    color: snow
}

.btndis:active:after {
    background: transparent;
}

.btndis:hover:before {
    opacity: 1;
}

.btndis:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
	color: snow;
    background: #5865F2;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 0; }
}

.social {
	text-align: center;
}